<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Destination</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dest.css') }}">
</head>
<body>

    <div class="container">
        <h2>Create Destination</h2>
        <form id="destinationForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>

            <button type="button" onclick="createDestination()">Create Destination</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='destni.js') }}"></script>
</body>
</html>
