<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust Travel Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   
</head>
<body>
    <h1 id="hw">Welcome to Wanderlust Travel Planner</h1>

    <button id="create_dest">Create Destination</button>
    <div id="destinations-container">

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
